    <footer class="footersm">
  
                         <div class="footer__contact-block1sm">
                            <h4 class="footer__subheadingsm">Find Us</h4>
                            <div class="footer__contact-rowsm">
                              <div class="social_mediasm">
                                <img class="fb__iconsm" src="./img/socialMediaIcons/fbdark.png" alt="address icon" />
                                <img class="t__iconsm" src="./img/socialMediaIcons/tdark.png" alt="address icon" />
                                <img class="insta__iconsm" src="./img/socialMediaIcons/instadark.png" alt="address icon" />
                                <img class="ch__iconsm" src="./img/socialMediaIcons/chdark.png" alt="address icon" />
                                <div class="light__iconssm">
                                <img class="fb__iconlightsm" src="./img/socialMediaIcons/fblight.png" alt="address icon" />
                                <img class="t__iconlightsm" src="./img/socialMediaIcons/tlight.png" alt="address icon" />
                                <img class="insta__iconlightsm" src="./img/socialMediaIcons/instalight.png" alt="address icon" />
                                <img class="ch__iconlightsm" src="./img/socialMediaIcons/chlight.png" alt="address icon" />
                                </div> 

                              </div>
                            </div>
                            </div>
                          </div>
                        </div>

                     <div class="footer__need-helpsm">
                            <h4 class="footer__subheadingsm">Need Help?</h4>
                      
                          
                                <p class="footer__contact-body-textsm">Retail Partners</p>
                                <p class="footer__contact-body-textsm">FAQs</p>
                                <p class="footer__contact-body-textsm">Contact</p>
                                <p class="footer__contact-body-textsm">Search</p>
                          
                          
                            </div> 

           
                     
                      <div class="footer__contentsm">
                        <div>
                          <h3 class="footer__headersm">Stay in touch</h3>
                          <div class="footer__contact-blocksm">
                            <div class="footer__contact-contentsm">
                              <p>Sign up to receive communication from Team Dream and get first dibs on new 
                              arrivals, sales, exclusive content, events and 
                              more!</p> 
                              <div class="footer-emailsm"> 
                            <div class="footer-column-2sm">
                              <input class="footer-column-2__inputsm" type="text" placeholder="Email Address" />
                              <div class="footer-column-2__submitsm">
                                <button class="footer-column-2__buttonsm">SUBMIT</button>
                              </div>
                              </div> 
                              </div>
                            </div>
                            <div class="footer_imagesm"> 
                               <img class="cat_footersm" src="./img/footer.png" alt="Alternate Large Logo Cat" />
                              </div>
                            </div>
                          </div>
                          </div> 

                       <!--   <div class="footer__need-help">
                            <h4 class="footer__subheading">Need Help?</h4>
                      
                          
                                <p class="footer__contact-body-text">Retail Partners</p>
                                <p class="footer__contact-body-text">FAQs</p>
                                <p class="footer__contact-body-text">Contact</p>
                                <p class="footer__contact-body-text">Search</p>
                          
                          
                            </div> -->
                            
                            </div>
                            </div>
                       
                       
                        <div class="row2sm"> 
                                  <div class="footer-bottomsm">
                                    <a class="social-iconsm" target="blank" href="#">Privacy Policy
                                    </a>
                                    <a class="social-iconsm" target="blank" href="#">
                                      Terms of Use
                                    </a>
                                    <a class="social-iconsm" target="blank" href="#">
                                      Accessibility
                                    </a>
                                    <a class="social-iconsm" target="blank" href="#">
                                      CA Residents 
                                    </a>
                                  </div>
                                  </div> 

                        
                                  
                              

                                
                      
                  
                    </footer>