/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FFFFFF;
$black: #000000;
$sunglow: #FDC430;
$journal: #E5E5E5;
$journal-dark: #5E5E5E;
$dark-mode: #242424;
$darkest-teal: #255B70;
$dark-teal: #2A6176;
$teal-two: #4296B5;
$teal: #50BCD2;
$hero: #E9EAEC; 
