
.footer {
	//background-color: $teal;
	color: $white;
	//padding: 36px 83px;
}

.footer__content {
	display: flex;
	flex-direction: row;  
	background-color: $teal; 
	align-items: center;
	text-align: right; 
	margin-top: 5px;
	margin-bottom: 10px;
}

.footer__icon {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.footer__subheading {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $white;
}
.footer__header {
	margin-bottom: 16px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: $white;
}

.footer__contact-block1 {
	padding: 36px 83px; 
	background-color: $teal-two; 
	justify-content: space-around; 
	text-align: right; 
}

.footer__contact-block2 {
	padding: 36px 83px; 
	background-color: $teal-two; 
	justify-content: space-around; 
	text-align: left; 
}

.footer__header-middle {
	text-align: center;
}

.footer-email {
	text-align: center; 
	align-items: center; 
}

.footer-column-2__input {
	width: 43%;
	font-size: 10 px; 
	margin-bottom: 11px;
	background: $white;
	border: 16px solid $teal-two; 
	border-radius: 6px; 
	padding: 11px;
}

.footer-column-2__submit {
	text-align: right;
}
.footer-column-2__button {
	background-color: $sunglow;
	font-size: 10px;
	line-height: 17px;
	outline: 0;
	padding: 4px 10px;
	border: 0;
	border-radius: 6px; 
	text-align: center; 
}

.social-icon {
	margin-left: 25px;
}
.footer__header-last {
	text-align: right;
}
.social-wrapper {
	text-align: right;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__social__Media {
	margin-right: 23; 
}

.fb__icon {
	max-height: 26px;
	max-width: 26px; 
}

.t__icon {
	max-height: 26px;
	max-width: 26px; 
}

.insta__icon {
	max-height: 26px;
	max-width: 26px; 
}

.ch__icon {
	max-height: 26px;
	max-width: 26px; 
}

.footer-bottom { 
	background-color: $sunglow; 
	line-height: 22px; 
}