
.footer {
	color: $white;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	width: 100%
	//padding: 36px 83px;
}


.footer__contact-block1 {
	background-color: $teal-two; 
	display: flex; 
	flex-direction: column; 
	flex-basis: 100%; 
	flex: 1; 
	padding: 50px; 
	text-align: right; 
}

.footer__subheading{
	padding-bottom: 8px; 
}

.footer__contact-row {
	display: flex;
	justify-content: end; 
}

.social_media{
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	//width: 170px;  
}

.fb__icon {
	display: flex; 
	flex-direction: column; 
	flex-basis: 100%; 
	flex: 1; 
	max-height: 26px;
	max-width: 26px;  
	margin: 0 8px; 
}

.t__icon {
	display: flex; 
	max-height: 26px; 
	margin: 0 8px; 
}

.insta__icon {
	display: flex; 
	max-height: 26px;
	margin: 0 8px; 
}

.ch__icon {
	display: flex; 
	max-height: 26px; 
	margin-left: 8px; 
}

.footer__content {
	//display: flex;
	//justify-content: stretch;   
	background-color: $teal; 
	height: 281px; 
	align-items: center;
	text-align: center; 
	flex: 1; 
	//width: 50%; 
	//margin-top: 5px;
	//margin-bottom: 10px;
	//height: 281px; 
}

.footer__header{
	padding-top: 30px; 
}

.footer__contact-content {
	text-align: center;
	padding-left: 20px; 
	padding-right: 20px; 
	padding-bottom: 5px; 

}

.footer-column-2__input {
	font-size: 10 px; 
	margin-bottom: 11px;
	background: $white;
	border: 10px solid $teal-two; 
	border-radius: 6px; 
	padding: 11px
}

.footer__icon {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.footer__subheading {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $white;
}
.footer__header {
	margin-bottom: 16px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: $white;
}

.footer__need-help {
	//padding: 36px 83px; 
	background-color: $teal-two; 
	//width: 50%; 
	text-align: left; 
	height: 281px; 
	flex: 1; 
	padding: 50px; 

}

.footer-email {
	text-align: center; 
	align-items: center; 
}

.footer-column-2 {
	display: flex; 
	align-items: center; 
}


.footer-column-2__submit {
	text-align: right;
}
.footer-column-2__button {
	background-color: $sunglow;
	font-size: 10px;
	line-height: 17px;
	outline: 0;
	padding: 4px 10px;
	border: 10px solid $teal-two;

	border-radius: 6px; 
	text-align: center; 
}


.row2 {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	width: 100%; 
}

.footer-bottom { 
	display: flex; 
	background-color: $sunglow; 
	line-height: 17px; 
	font-size: 10px; 
	flex-basis: 100%; 
	align-items: center; 
	justify-content: space-between; 
	padding-left: 300px; 
	padding-right: 300px; 
	flex: 1; 
}