.header {
	background: $sunglow;
	padding: 11px;
	display: flex;
	justify-content: space-between;  
	align-items: center;
	flex-direction: row; 
	flex-wrap: wrap; 
	width: 100%; 
	height: 52px; 
	@include lg{
		height: 55px; 
	}
}

.header_logoicon {
	margin-right: 10px; 
}

.header__icons{
	display: flex; 
	align-items: center; 
}

.header_logos{
	display: flex; 
	align-items: center; 
}

.header_logoicon{
	width: 27px; 
	height: 31px; 
	@include lg{
		width: 30px; 
		height: 34px; 
	}
}

.header_logo{
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	margin-left: 35px; 
	margin-top: -28px; 
	width: 109px; 
	height: 18px; 
	@include lg{
		margin-top: -35px;
		width: 169px; 
		height: 28px; 
	}
}

.header__contact{
	display: none; 
	@include lg {
		display: block; 
		padding-left: 10px; 
	}
}

.header__menu {
	display: block; 
	@include lg {
		display: none; 
	}
}


.header__words {
	display: none; 
	@include lg {
		display: flex; 
		background-color: $sunglow; 
		line-height: 20px; 
		font-size: 18px;
		flex-basis: 100%; 
	}
}

.header__link {
	text-decoration: none; 
	color: black; 
	padding-right: 20px; 
}