.header {
	background: $sunglow;
	padding: 11px;
	display: flex;
	justify-content: space-between;  
	align-items: center;
}

.header_logoicon {
	margin-right: 10px; 
}

//.header__logo { 

		//width: 109px;
		//height: 18px;
		//margin: auto; 
		//align-items: center; 
		//justify-content: center; 

		//@include md {
			//width: 122px;
			//height: 20px;
		//}
		//@include lg {
			//width: 169px;
			//height: 28px;
		//}
//} 
