._hero {
	background-image: url('../img/products.png');
	background-position: right;
	background-size: cover;
	background-color: $journal; 
	height: 427px;
	display: flex;
	justify-content: flex-end; 
	@include md {
		width: 409px;
		height: 353px;
	}
	@include lg {
		width: 740px;
		height: 333px;
	}
}

.hero__heading {
	color: $white;
	font-size: 22px;

	@include md {
		font-size: 26px;
	}
	@include lg {
		font-size: 32px;
	}
}
.hero__button {
	color: $sunglow;
	display: inline-block;
	margin-top: 5px;
	text-decoration: none;
	background-color: $journal;
	padding: 10px 15px;
}