._title {
    font-size: 28px; 
    line-height: 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding-top: 72px; 
    padding-bottom: 82px; 
}

.sm__collage{
    display: flex; 
    justify-content: center; 
    vertical-align: bottom; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: wrap; 
    padding-bottom: 72px; 

    @include md{
        display: none; 
    }
}

.collage__image-1 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 

    @include md{
        flex-wrap: wrap; 
        padding: 8px; 
        width: 190px; 
        height: 98px; 
        object-fit: cover; 
        background-position: center;         
    }
}

.collage__image-2 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 
}

.collage__image-3 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 

    @include md{
    flex-wrap: wrap; 
    padding: 8px; 
    width: 393px; 
    height: 191px; 
    object-fit: cover; 
    background-position: center; 
    }
}

.collage__image-4 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 
}

.collage__image-5 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 

    @include md{
        flex-wrap: wrap; 
        padding: 8px; 
        width: 190px; 
        height: 292px; 
        object-fit: cover; 
        background-position: center;        
    }
}

.collage__image-6 {
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 
}



.md__collage{
    display: flex; 
    justify-content: flex-start; 
    vertical-align: bottom; 
    align-items: left; 
    flex-direction: row; 
    flex-wrap: wrap; 
    padding-bottom: 72px; 
    max-width: 600px; 
}

.row-1{
    display: flex; 
    flex-direction: row; 
}

.row-2{
    display: flex; 
    flex-direction: row; 
    align-self: center; 
   // margin-left: 181px; 
}

.row3half{
    display: flex; 
    flex-direction: column; 
    flex: 1; 

    justify-content: flex-start; 
    flex-wrap: wrap; 
   max-width: 598px; 
}


.mdcollage__image-7{
        display: none; 
 

    @include md{
    display: flex; 
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 190px; 
    object-fit: cover; 
    background-position: center; 
    }
}

.mdcollage__image-3{
    display: none; 


@include md{
display: flex; 
flex-wrap: wrap; 
padding: 8px; 
width: 393px; 
height: 190px; 
object-fit: cover; 
background-position: center; 
}
}

.mdcollage__image-1{
display: none; 

@include md{
display: flex; 
flex-wrap: wrap; 
padding: 8px; 
width: 190px; 
height: 98px; 
object-fit: cover; 
background-position: center; 
}
}

.mdcollage__image-5{
    display: none; 
    
    @include md{
    display: flex; 
    flex-wrap: wrap; 
    padding: 8px; 
    width: 190px; 
    height: 292px; 
    object-fit: cover; 
    background-position: center; 
    }
    }

    .mdcollage__image-8{
        display: none; 
        
        @include md{
        display: flex; 
        flex-wrap: wrap; 
        padding: 8px; 
        width: 190px; 
        height: 138px; 
        object-fit: cover; 
        background-position: center; 
        }
        }


        .mdcollage__image-6{
            display: none; 
            
            @include md{
            display: block; 
            padding: 8px; 
            width: 190px; 
            height: 138px; 
            object-fit: cover; 
            background-position: center; 
            }
        }

.mdcollage__image-2{
display: none; 
                
@include md{
display: flex; 
flex-wrap: wrap; 
padding: 8px; 
width: 190px; 
height: 190px; 
object-fit: cover; 
background-position: center; 
justify-content: space-between; 
}
}

.mdcollage__image-4{
    display: none; 
                    
    @include md{
    display: flex; 
    flex-wrap: wrap; 
    padding: 8px; 
    width: 598px; 
    height: 140px; 
    object-fit: cover; 
    background-position: center; 
    }
}