.allstory{

	display: flex; 
	flex-direction: column; 
	align-items: center; 


	@include md{
		display: flex; 
	}

}

.ourstory__body1 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
	padding-top: 52px; 
	padding-bottom: 52px; 

	@include md{
		display: flex; 
		max-width: 291px; 

	}
}

.ourstory__body2 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
}

.ourstory__body3 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
}

.ourstory__body4 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
	background-color: $sunglow; 
}

.ourstory__body5 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
}

.ourstory__body6 {
	display: flex; 
	flex-direction: column; 
	text-align: justify; 
	max-width: 296px; 
}

.storyimg1 {
	flex-wrap: wrap; 
	padding: 8px; 
	width: 179px; 
	height: 160px; 
	object-fit: cover; 
	background-position: center;   
}

.storyimg2 {
	flex-wrap: wrap; 
	flex-direction: row; 
	padding: 5px; 
	width: 179px; 
	height: 160px; 
	object-fit: cover; 
	background-position: center;   
}