.ourstory_hero {
	background-image: url('../img/Header.jpg');
	background-position: left;
	background-size: 50%;
	background-repeat: no-repeat; 
	//height: 100%; 
	display: flex;
	flex-direction: row; 
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	height: 164px; 
	@include md {
		background-image: url('../img/Header.jpg');
		background-position: left;
		background-size: 60%;
		background-repeat: no-repeat; 
		height: 209px;
	}
	@include lg {
		background-image: url('../img/Header.jpg');
		background-position: left;
		background-repeat: no-repeat; 
		display: flex; 
		flex-wrap: wrap;  
		width: 847px; 
		height: 257px; 
		object-fit: cover; 
		background-position: center; 
	}
}

.ourstoryhero__content{
	background-color: $teal; 
	background-position: right; 
	display: flex;
	flex: 1; 
	text-align: center; 
	flex-direction: flex-end; 
	flex-basis: 100%;
	height: 164x;
	width: 100%;
	padding-left: 50px; 
	padding-right: 50px; 
	font-size: 35px;
	line-height: 55px;

	@include md {
		background-color: $teal; 
		background-position: right; 
		display: flex;
		flex: 1; 
		text-align: center; 
		flex-direction: column; 
		align-items: center; 
		flex-basis: 100%;
		height: 209px;
		width: 50%; 
		padding: 50px; 
		font-size: 70px;
		line-height: 75px;
	}
	@include lg {
		display: flex; 
		background-color: $teal; 
		background-position: right; 
		display: flex;
		flex: 1; 
		text-align: center; 
		flex-direction: column; 
	    flex-basis: 100%;
		height: 257px; 
		width: 80%;  
		font-size: 70px;
		line-height: 75px;
	}
}