.footer {
    background-color: $red-dark; 
    color: $white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 4;

    @include sm {
        background-color: $blue;  
        color: $purple; 
        text-align: left; 
    }; 

    @include md {
        background-color: $dark-blue;   
        text-align: center; 
    }; 

    @include lg {
        background-color: $black; 
        color: $red-dark; 
    }; 
}; 