.header {
    background-color: $blue; 
    color: $white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 4;

    @include sm {
        background-color: $red-dark; 
        text-align: right; 
    }; 

    @include md {
        background-color: $purple; 
        padding-top: 75; 
    }; 

    @include lg {
        background-color: $grey; 
        color: $purple; 
    }; 
}; 