.main-content-sidebar {
    background-color: $dark-blue; 
    color: $white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 1;

    @include sm {
        text-align: right; 
    }; 

    @include md {
        background-color: $red; 
        text-align: left; 
    }; 

    @include lg {
        padding-top: 100; 
        color: $red-dark; 
    }; 
}

.main-content-body {
    background-color: $grey; 
    color: $white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 2;

    @include sm {
        color: $red-dark;
        padding-bottom: 20; 
    }; 

    @include md {
        color: $green;
    }; 

    @include lg {
        text-align: center; 
    }; 
}

.main-content-ads {
    background-color: $red; 
    color: $white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 1;

    @include sm {
        background-color: $green;  
    }; 

    @include md {
        color: $purple;  
        text-align: right; 
    }; 

    @include lg {
        padding-bottom: 60; 
        text-align: left; 
    }; 
}
